.banner {
    background: url(/RRM/image/banner.jpg) no-repeat center center;
    width: 100%;
    height: 615px;
}
input::-ms-clear{display:none;}
body {
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.banse {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    height: 470px;
}

.ban-item {
    text-align: center;
    float: left;
    width: 25%;
    margin-top: 104px;
}
.ban-item p{font-size:24px; font-size:2.4rem; color:#b0c2cc;}
.ban-item img {
    display: block;
    margin: 0 auto;
}

.ban1 {
    margin-top: 116px;
}

.ban1 p {
    margin-top: 33px;
}

.ban2 {
    margin-top: 108px;
}
.ban2 p{margin-top:36px;}
.ban4 {
    margin-top: 140px;
}
.ban4 p{margin-top:15px;}
.ban3 p {
    margin-top: 26px;
}

.logo {
    width: 105px;
    height: 24px;
    float: left;
    margin-right: 90px;
    display: block;
}

.wid {
    width: 1200px;
    margin: 0 auto;
   
    height: 470px;
}
.hed{padding-top:30px; clear:both; cursor: pointer;}
.hed-left {
    color: #fff;
    float: left;
    margin-top:6px;
}

.tit-sea {
    float: left;
    margin-right: 30px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}
.tit-sea:after{
    content: '';
    width:34px;
    height: 4px;
    display: block;
    position: absolute;
    bottom:-10px;
    background:#fff;
}
.tit-sea-hover:after{
    content: '';
    width:34px;
    height: 4px;
    display: none;
    position: absolute;
    bottom:-10px;
    background:#fff;
}
.tit-sea p i {
  width:32px;
  height: 14px;
}

.tit-ser {
    float: left;
    font-size:18px;
    color:#b3b3b3;
    margin-left: 40px;
    line-height: 24px;
}
.tit-ser a:hover{color:#fff !important;}
.tit-ser:hover{color:#fff;}
.hed-right {
    float: right;
}

.hed-right p {
    color: #b3b3b3;
    float: left;
    margin-right:24px;
    font-size:18px;
    line-height: 36px;
}
.userlogo{width:35px; height: 36px; overflow: hidden;}
.userlogo img{display:block; width:100%; min-height: 36px; float:left;}
/*检索的样式*/
.retrieval{background: rgba(255,255,255,0.2);padding:10px 16px; position: absolute;margin-top:20px; left:-20px;}
.retrieval:before{
        content: '';
    position: absolute;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 13px solid rgba(255,255,255,0.2);
    left: 14px;
}
.retrieval li{font-size:18px; font-size: 1.8rem; line-height: 32px; color:#999; cursor: pointer;}
.retrieval li a:hover{color:#fff;}
.userupload{display:block;float: left; width:18px; height: 16px; margin-right: 20px; margin-top:10px;}
/* 退出登录 */
.exit{
        width: 100px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    position: absolute;
    top: 82px;
}
.exit li{
        line-height: 40px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}
.exit:before{
          content: '';
    position: absolute;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 13px solid rgba(255,255,255,0.2);
    left: 14px;

}
.search-con {
    margin-top: 190px;
}

h3 {
    font-size: 35px;
    font-size:3.5rem;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.search-box {
    background: rgba(255, 255, 255, 0.2);
    width: 640px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border:1px solid #fff;
}

.search-but {
    width: 90px;
    position: absolute;
    cursor: pointer;
    text-align: center;
}
.search-but span{font-size:18px; color:#fff; text-align: center;}
.search-but:after {
    content: '';
    width: 1px;
    height: 34px;
    background: #999999;
    position: absolute;
    top: 10px;
    right:-4px;
}
.search-but i{font-size:18px; font-size:1.8rem;color:#fff; margin-left: 10px; position: absolute; right:7px; top:19px;}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.search-item {
    width: 90px;
    position: absolute;
    top: 54px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top:10px;
}
ul.search-item li{font-size:18px; color:#999;}
ul.search-item li:hover{color:#fff;}
ul.search-cond{
    width: 110px;
    position: absolute;
    top:80px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    padding-bottom: 5px; 
    left: 93px;
    padding-top:10px;
    padding-bottom: 10px;
}
ul.search-cond:before{
              content: '';
    position: absolute;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 13px solid rgba(255,255,255,0.2);
    left: 14px;
}
ul.search-cond li{font-size:16px;font-size:1.6rem; color:#999;}
ul.search-cond li:hover{color:#fff;}
input[name="search"] {
    width: 480px;
    height: 54px;
    line-height: 54px;
    opacity: 1;
    position: absolute;
    left: 85px;
    background: none;
    text-indent: 28px;
    font-size:18px;
    color:#fff;
}

input {
    border: none;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 75px;
    line-height: 54px;
    display: block;
    cursor: pointer;
    width:33px;
    height: 30px;
}

.search-icon i {
    font-size: 26px;
    color: #fff;
    line-height:54px;
}
.search-icon:after {
    content: '';
    width: 1px;
    height: 34px;
    background: #999999;
    position: absolute;
    top: 10px;
    right:-10px;
}
.sea-filter{float: right; width:31px; height:20px; margin-right: 18px; margin-top:18px; cursor: pointer;}
.carousel {
    width: 340px;
    height: 140px;
    float: right;
    color: #1996e7;
    text-align: center;
}

.carousel p {
    font-size: 16px;
    font-size:1.6rem;
    color: #1996e7;
    position: absolute;
    top:0;
    left:68px;
    letter-spacing: 1px;
}

.swiper-slide h4 {
    color: #1996e7;
    font-size: 50px;
    font-size:5rem;
    margin: 0;
}
.swiper-slide span{
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    left: 68px;
    color: #1996e7;
    font-size: 16px;
    font-size:1.6rem;
    margin: 0;
}
.el-carousel__arrow {
    background-color: none;
}

/*图片轮播*/
    .swiper-container {
        width: 100%;
        height: 100%;
        
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: none;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left:0px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0px;
    }
    .swiper-button-next, .swiper-button-prev{
        background-size:13px 44px;
    }
     .carousel .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        background-image:url(/RRM/image/right.png) no-repeat !important;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev