

 .bod{min-height: 800px; padding-top:65px;} 
/* 分页 */
#pageContainer{float: right;}

/* 内容 */

.video-item{width:31%;}
.imgList {
    margin-top: 110px;
}

.th-list {
    margin-right: 20px;
    width: 21px;
    height: 17px;
    margin-top: 4px;
    margin-bottom: 20px;
}
.img-down i{cursor: pointer;}
.admin-text  i{margin-left: 15px; margin-right:5px;}
/* 批量下载 */

#download,
#down-item {
    display: none;
}

.download,
.down-item {
    padding: 5px;
    border: 2px solid #00ccdb;
    border-radius: 50%;
    background: none;
    /* margin-top: 5px; */
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    position: relative;
}

.download:before,
.down-item:before {
    content: ' ';
    border-radius: 50%;
    position: absolute;
    background: #00ccdb;
    display: none;
    box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
}

.doshow:before {
    content: ' ';
    border-radius: 50%;
    position: absolute;
    background: #00ccdb;
    display: block;
    box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
}

.down-item {
    margin-top: 11px;
}

.more-down {
    color: #00ccdb;
}

.more-imgbox .img-text {
    padding: 0px 15px;
}

.imgList .downall {
    font-size: 1.6rem;
    margin-right: 20px;
    color: #00ccdb;
}

.downall i {
    margin-right: 10px;
}
.img-name{    width: 82px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; text-align:left;}
.imgList .list-downall{margin-left: 15px;}
/* 图片列表 */

.table td {
    font-size: 16px;
    font-size: 1.6rem;
    color: #999;
    line-height: 42px;
    text-align: center;
}
.table td i{margin-left: 25px;}
.table td.tright {
    text-align: right;
}
.table td.tright{cursor: pointer;}
.imgList .list-downall {
    margin-right: 5px;
}

.listall-down {
    margin-left: 0.7%;
}


.table-item {
    width: 100%;
   
    overflow: hidden;
    clear: both;
}

.table-item li {
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    width:13%;
    text-align: center;
    line-height: 42px;
    font-size:16px;
    font-size:1.6rem;
    float:left;
}
.table-item li .download, .down-item{margin-top:14px;}
.table-item a{display: block; width:100%; height: 42px;}
 .table-item li:nth-child(1) {
    width: 25%;
}
.table-item li:nth-child(2) {
    width: 10%;
}
.table-item li:nth-child(3) {
    width: 15%;
}
.table-item li:nth-child(7) {
    width: 10.6%;
    text-align: right;
} 
.listall-down{margin-left: 0%;}

/* imgbox */
#content {
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 0 60px 30px 60px;
    border: solid 1px #cbcbcb;
    background: #fafafa;
    -moz-box-shadow: 0px 0px 10px #cbcbcb;
    -webkit-box-shadow: 0px 0px 10px #cbcbcb;
}
#fancybox-title{width:100% !important;}
#fancybox-close{right: -40px;}
#fancybox-title-over span .fa{font-size:16px; font-size:1.6rem;}

/* 遮盖层 */
.img-item-box{position: relative; width:100%; height: 260px; overflow: hidden;}
.img-item-box .img-item-box-img{width:100%; min-height: 260px;}
.video-slogn{position: absolute; top:0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.1);}
.video-slogn img{position: absolute; width:46px; height: 55px; top:50%; margin-top:-28px; left: 50%; margin-left: -23px; min-height: 55px !important;}


/* 视频列表 */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{line-height: 35px;}
.table tr td:nth-child(1){width:30%; text-align: left; cursor: pointer;}
.table tr td:nth-child(2){width:10%;}
.table tr td:nth-child(3){width:13%;}
.table tr td:nth-child(4){width:20%;}
.table tr td:nth-child(5){width:15%; cursor: pointer;}
.table tr td:nth-child(6){width:12%;}
.table tr td span{width:360px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; text-align: left; margin-left: 10px;}
.table thead tr td{text-align: center !important; color:#666;}

.img-down a{display: inline-block;}